
.card-title {
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 1.8rem;
}